<p id="notice"><%= notice %></p>

<h1>Marinas</h1>

<table>
  <thead>
    <tr>
      <th>Address line 1</th>
      <th>Address line 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marinas.each do |marina| %>
      <tr>
        <td><%= marina.address_line_1 %></td>
        <td><%= marina.address_line_2 %></td>
        <td><%= marina.city %></td>
        <td><%= marina.state %></td>
        <td><%= marina.zip %></td>
        <td><%= marina.description %></td>
        <td><%= link_to 'Show', marina %></td>
        <td><%= link_to 'Edit', edit_marina_path(marina) %></td>
        <td><%= link_to 'Destroy', marina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Marina', new_marina_path %>
