<%= form_with(model: [@product, price], local: true) do |form| %>
  <% if price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
        <% price.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :unit_amount %>
    <%= form.number_field :unit_amount %>
  </div>

  <div class="field">
    <%= form.label :stripe_type %>
    <%= form.text_field :stripe_type %>
  </div>

  <div class="field">
    <%= form.label :recurring_interval %>
    <%= form.text_field :recurring_interval %>
  </div>

  <div class="field">
    <%= form.label :recurring_count %>
    <%= form.number_field :recurring_count %>
  </div>

  <div class="field">
    <%= form.label :stripe_id %>
    <%= form.text_field :stripe_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
